@import url("base.css");

main {
    margin-inline: auto;
    max-width: 62.5rem;
}

form {
    display: flex;
    flex-flow: column wrap;
    margin: 1rem;
    align-items: center;
    text-align: center;
}

fieldset {
    width: 100%;
    max-width: 100%;
    border: 0.2em solid var(--primary-2);
    background-color: var(--surface-2);
}

form-fields {   
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-flow: column wrap;
}

label {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: var(--size-2);
    padding: 0.5rem;
}

input {
    margin: 0.5rem;
    padding: 0.5rem;
    font-family: Merriweather, Arial, Helvetica, sans-serif;
    font-size: var(--size-0);
    background-color: var(--surface-1);
    border: var(--primary-text) 1px solid;
    color: var(--primary-text);
}

input::placeholder, textarea::placeholder {
    color: var(--tonal-6);
}

#contactInfo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    column-gap: 5rem;
    row-gap: 1rem;
}


#contactPurpose {
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {
    margin: 1rem;
    padding: 0.5rem;
    font-family: Merriweather, 'Times New Roman', Times, serif;
    font-size: var(--size-0);
    width: 100%;
    max-width: 75%;
    margin-inline: auto;
    resize: vertical;
    background-color: var(--surface-1);
    border: var(--primary-text) 1px solid;
    color: var(--primary-text);
}

legend {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: var(--size-2);
    padding: 1rem;
}

button[type=submit] {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: var(--size--2);
    align-self: flex-end;
    margin: 1rem 0;
    padding: 1rem;
    background-color: var(--surface-2);
    color: var(--primary-text);
    border: var(--primary-1) solid 1px;
}

button[type=submit]:hover {
    background-color: var(--surface-3);
    color: var(--primary-1);
    border: var(--primary-1) solid 1px;
}

svg {
    fill: var(--primary-1);
}

line {
    stroke: var(--surface-1);
}