@import url("base.css");

main > br {
    display: none;
}

main {
    max-width: 67.5rem;
    margin-inline: auto;
}

section {
    display: flex;
    flex-flow: column wrap;
    background-color: var(--surface-2);
    margin: 0.5rem;
    padding: 0.5rem;
}

section p {
    font-size: var(--size-1);
}

#aboutSection { 
    display: flex;
    flex-flow: column wrap;
}

section-content#aboutMeContent {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

figure {
    width: 100%;
    max-width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-flow: column wrap;
}

#selfie img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    border: 0.2em solid var(--surface-6);
}

figcaption {
    margin: 0.5rem;
    font-style: italic;
    font-size: 0.75em;
    align-self: center;
}


about-text {
    margin: 0.5rem;
    padding: 0.5rem;
    text-wrap: wrap;
}

text-section {
    margin: 0.5rem;
    padding: 0.5rem;
    text-wrap: wrap;
}

h2 {
    font-family: Lato;
    font-size: var(--size-3);
    line-height: 2em;
    margin: 0.5rem;
    padding: 0.5rem;
}

h3 {
    font-family: Lato;
    font-size: var(--size-2);
    line-height: 2em;
}

hr {
    border: 0;
}

main > p {
    margin: 0.5rem;
    padding: 0.5rem;
}

table {
    margin: 0.5rem;
    padding: 0.5rem;
}

td {
    font-size: var(--size--1);
    text-align: center;
    padding: 0.5rem;
}

caption {
    font-size: var(--size-1);
    text-align: center;
}

ul {
    list-style-position: inside;
}

li::marker {
    color: var(--primary-1)
}

button {
    font-family: Lato;
    font-size: var(--size--2);
    margin: 1rem 0;
    padding: 0.5rem;
}

fancy-text:hover {
    color: transparent;
    background: radial-gradient(circle, var(--primary-1), var(--surface-6));
    animation: fancy 2s linear infinite;
    background-size: 200% 200%;
    background-clip: text;
}

@keyframes fancy {
    0%, 100% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }
}