@import url("base.css");

main {
    margin-inline: auto;
    max-width: 75rem;
    display: flex;
}

changes-section {
    margin: var(--default-margin);
    width: var(--default-width);
    max-width: var(--default-max-width);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

details {
    width: 80%;
    max-width: var(--default-max-width);
    margin: 0 auto var(--default-margin);
    overflow: hidden;
    background-color: var(--surface-2);
    border-radius: 0.75rem;
}

summary {
    padding: var(--default-padding);
    font-family: lato, Arial, Helvetica, sans-serif;
    font-size: var(--size-2);
    cursor: pointer;
    user-select: none;
    background-color: var(--surface-3);
    transition: margin 0.2s ease-out;
}

details[open] summary {
    margin-bottom: 10px;
}

summary::marker {
    color: var(--primary-1);
    
}



ol {
    margin: var(--slight-margin);
    padding: var(--slight-padding);
    list-style-position: inside;
    font-family: merriweather, 'Times New Roman', Times, serif;
    background-color: var(--surface-2);
}

li::marker {
    color: var(--primary-1);
}